<div class="card">
	<div class="card-body">
		<h5 class="card-title">PDF Generator</h5>
		<form>
			<div class="form-group" ng-repeat="item in $ctrl.format">
				<select ng-model="item.type" class="form-control-sm" ng-change="$ctrl.setItemType(item, item.type)">
					<option value="">Field type</option>
					<option value="text">Text</option>
					<option value="image">Image</option>
					<option value="qr">QR code</option>
				</select>
				<span ng-if="item.type==='text'">
					<select class="form-control-sm" ng-model="item.align">
						<option value="L">Left</option>
						<option value="C">Center</option>
						<option value="R">Right</option>
					</select>
				</span>
				<span ng-if="item.type==='image'">
					<input class="form-control-sm" type="url" title="URL to image file, %1% is first column from csv etc." placeholder="https://imgur.com" ng-model="item.image">
				</span>
				<span ng-if="item.type==='qr'||item.type==='text'">
					<input class=form-control-sm" type="text" title="Value to display, enter %1% for the first column from csv etc." placeholder="Text" ng-model="item.text">
				</span>
				<input class="form-control-sm" size="2" type="text" title="Horizontal cell position" placeholder="X" ng-model="item.x">
				<input class="form-control-sm" size="2" type="text" title="Vertical cell position" placeholder="Y" ng-model="item.y">
				<input class="form-control-sm" size="2" type="text" title="Cell width" placeholder="W" ng-model="item.w">
				<input class="form-control-sm" size="2" type="text" title="Cell height" placeholder="H" ng-model="item.h" ng-if="item.type==='text'">
				<input class="form-control-sm" size="2" type="color" title="Text colour" ng-model="item.colour" ng-if="item.type==='text'">
				<input class="form-control-sm" size="2" type="text" title="Font size" placeholder="S" ng-model="item.s" ng-if="item.type==='text'">
			</div>
			<small>Units in mm</small>
			<div class="form-group">
				<div ng-click="$ctrl.format.push({})" class="btn btn-success">Add field</div>
			</div>
			<div class="form-group">
				<div ng-disabled="$ctrl.loading" class="btn btn-info" ngf-select="$ctrl.loadCSV($file)">Load CSV</div>
				<div ng-if="$ctrl.csv" class="btn btn-info" ng-click="$ctrl.preview()">Preview PDF</div>
			</div>
		</form>
	</div>
</div>

<div class="card" ng-if="$ctrl.previewImage">
	<div class="card-body">
		<img data-ng-src="{{$ctrl.previewImage.image}}" style="border:solid 2px black; box-shadow: 10px 10px black">
	</div>
</div>

<div class="card">
	<div class="card-body">
		<div class="form-group">
			<button class="btn btn-success" ng-click="$ctrl.import()">Import</button>
			<button class="btn btn-success" ng-click="$ctrl.export()">Export</button>
		</div>
		<textarea class="form-control" rows="20" id="advancededitor"></textarea>
	</div>
</div>